p Hi #{user.name},
p Reset your password, and we'll get you on your way.
p To change your YouTalk password, click the link below.
a(href=`${resetPasswordUrl}`, target='_blank') Reset my password
p This link will expire in 24 hours, so be sure to use it right away.
p Thank you for using YouTalk!
p The YouTalk Team
